<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gym.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/customer/content1.css">
    <link rel="stylesheet" href="~/css/sidebar.css">
</head>
<body>
        <header>
            <div class="navbar-content fixed-top" id="navbar-content" data-scrollto-offset="0">
                <nav class="navbar navbar-expand-lg navbar-light px-4">
                    <div class="container-fluid">
                        <!-- Logo -->
                        <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
                            <img src="/img/Logo.png" alt="logo" height="80" loading="lazy" width="80">
                        </a>

                        <!-- Nút dành cho mobile trỏ xuống -->
                        <button class="navbar-toggler border-0" id="btn-menu" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Thanh điều hướng -->
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <!-- LEFT -->
                            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Dịch vụ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="TrainingSchedule">Lịch tập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Khuyến mãi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Tập thử miễn phí</a>
                                </li>
                            </ul>

                            <!-- RIGHT -->
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Hello @User.Identity.Name</a>
                                </li>
                                <li class="nav-item">
                                    <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                                        <button type="submit" class="btn btn-link nav-link">Đăng xuất</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
                                </li>
                            }
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="">
            <main role="main">
               @RenderBody()
            </main>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
