<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gym.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/customer/content1.css">
    <link rel="stylesheet" href="~/css/sidebar.css">
    <link rel="stylesheet" href="~/css/vendor/core.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a asp-area="Admin" asp-controller="Packages" asp-action="AdminHome">LONG TOÀN GYM</a>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a asp-area="Admin" asp-controller="Statistics" asp-action="Index" class="sidebar-link">
                            <i class="fas fa-light fa-home pe-2"></i>
                            Trang chủ
                        </a>
                    </li>

                    <li class><span>- QUẢN LÝ -</span></li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
                            <i class="fas fal fa-table pe-2"></i>
                            Người dùng
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="Users" asp-action="AllTrainers">
                            <i class="fas fal fa-table pe-2"></i>
                            Nhân viên
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="Packages" asp-action="Index">
                            <i class="fas fal fa-table pe-2"></i>
                            Gói tập
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="CustomerPackages" asp-action="Index">
                            <i class="fas fal fa-table pe-2"></i>
                            Khách hàng
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="TrainingSchedule" asp-action="Index">
                            <i class="fas fa-calendar-alt pe-2"></i>
                            Lịch Tập
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="Admin" asp-controller="Services" asp-action="Index">
                            <i class="fas fal fa-table pe-2"></i>
                            Dịch vụ 
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a id="logout" href="#" class="sidebar-link" onclick="document.getElementById('logoutForm').submit();">
                            <i class="fas fa-sign-out-alt pe-2"></i>
                            Đăng xuất
                        </a>
                        <form id="logoutForm" class="form-inline" style="display: none;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
                        </form>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- Main Component -->
        <div class="main" style="padding: 20px 40px;">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
