@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Đặt lại khóa xác thực";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="alert alert-warning" role="alert" style="margin-left: 264px">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Nếu bạn đặt lại khóa xác thực, ứng dụng xác thực của bạn sẽ không hoạt động cho đến khi bạn cấu hình lại.</strong>
    </p>
    <p>
        Quá trình này tạm thời tắt xác thực hai yếu tố cho đến khi bạn xác minh lại ứng dụng xác thực.
        Nếu bạn không hoàn thành cấu hình ứng dụng xác thực, có thể bạn sẽ mất quyền truy cập vào tài khoản của mình.
    </p>
</div>
<div style="margin-left: 264px">
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Đặt lại khóa xác thực</button>
    </form>
</div>
