
@{
    ViewData["Title"] = "TrangChu";
}

<div class="content-1">
    <!-- Slider giới thiệu -->
    <div id="slider">
        <div id="banner" class="d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pb-4 pt-lg-0 order-2 order-lg-1">
                            <h1>Khám phá cơ thể mơ ước của bạn</h1>
                            <h2>Bắt đầu tìm kiếm với chúng tôi!</h2>
                            <div class="d-flex justify-content-center justify-content-lg-start">
                                <a href="#content-3"
                                   class="btn-start form-control-plaintext nav-link border-0 text-center"
                                   style="width: 180px; padding: 15px 0;">Bắt đầu ngay</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div>
   
     <p>ádfasdfffffffffffffffffffff</p>
      <p>ádfasdfffffffffffffffffffff</p>
       <p>ádfasdfffffffffffffffffffff</p>
        <p>ádfasdfffffffffffffffffffff</p>
         <p>ádfasdfffffffffffffffffffff</p>
          <p>ádfasdfffffffffffffffffffff</p>
           <p>ádfasdfffffffffffffffffffff</p>
            <p>ádfasdfffffffffffffffffffff</p>
             <p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p> <p>ádfasdfffffffffffffffffffff</p>

    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
    <p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p><p>ádfasdfffffffffffffffffffff</p>
</div>