@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .bg-img {
        background: #A50000;
        padding: 100px;
    }

    form{
        border-radius: 20px;
        width: 40% !important;
        background-color: white !important;
        padding: 50px;
    }

    .btn-primary{
        width: 100%;
        border: none;
        border-radius: 50px;
        background: #000;
    }

     .form-control{
        color: rgba(0,0,0,.87);
        border-bottom-color: rgba(0,0,0,.42);
        box-shadow: none !important;
        border: none;
        border-bottom: 1px solid;
        border-radius: 4px 4px 0 0;
     }
     h4{
        font-size: 2rem !important;
        font-weight: 700;
     }  
     .form-label{
        font-weight: 800 !important;
     }
  }
</style>

<div class="bg-img">
    <div class="container-fluid">
        <form method="post" class="mx-auto">
            <h4 class="text-center">Đặt lại mật khẩu</h4>
            <div class="mb-3 mt-5">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-5">Reset Password</button>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
