@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #A50000;
    }

    .confirmation-container {
        text-align: center;
        background-color: #FFFFFF; 
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        color: #000000;
    }

    .icon {
        color: #000; 
        font-size: 70px; 
        margin-bottom: 10px;
    }
</style>

<div class="confirmation-container">
    <div class="icon">
        <i class="fas fa-question-circle"></i>
    </div>

    <h1>Quên Mật Khẩu</h1>

    <p class="mt-3">
        Vui lòng kiểm tra hộp thoại email để đổi mật khẩu
    </p>
</div>

