@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="~/css/all_form.css">
<div class="bg-img">
    <div class="container-fluid">
        <form method="post" class="mx-auto">
            <h4 class="text-center">Đặt lại mật khẩu</h4>
            <div class="mb-3 mt-5">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-5">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
